# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
.*.swp

# We generate makefiles by shell script
Makefile

# Win32-specific ignores
Debug/
Release/
binary/
build/
ipch/
Nethack.sln
Nethack.sdf
Nethack.opensdf
Makefile.bcc
Makefile.gcc
Makefile-orig
Makefile.bcc-orig
Makefile.gcc-orig
*.suo
*.pdb
*.ilk
# VS2013 extension to auto-whine about questionable code generates these
*.lastcodeanalysissucceeded
# Win32-specific ignores end


install/*
binary/*
build/*
dat/bogusmon
dat/data
dat/dungeon
dat/dungeon.pdf
dat/engrave
dat/epitaph
dat/options
dat/oracles
dat/quest_levs
dat/quest.dat
dat/rumors
dat/spec_levs
doc/Guidebook
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/vis_tab.h
src/nethack
src/Sysunix
src/vis_tab.c
src/monstr.c
util/dgn_comp
util/dgn_lex.c
util/dgn_yacc.c
util/lev_comp
util/lev_lex.c
util/lev_yacc.c
util/makedefs
util/recover
dat/dlb.lst
include/win32api.h
src/graphicschk
src/nhdat
sys/winnt/NetHack.ico
win/win32/splash.bmp
util/lev_flex.c
dat/porthelp
src/tile.c
util/dgn_flex.c

*.h-t
*.lev
*.o

livelog
logfile
record
xlogfile
*.old
perm
*lock.*
wizkit*.txt
log.txt
paniclog
game/501Merl*
game/conn.txt
game/map.txt
game/sysconf*
